{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Notifications</h2>

<div class="row text-center">

    {% for item in object_list %}
    <div class="card mb-4 shadow-sm col-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ item.name }}</h4>
        </div>
        <div class="card-body text-left">
            <div class='d-flex flex-row'>
                <label for="name">Name:</label>
                <div class="ml-2 text-primary" name="name">{{item.name}}</div>
            </div>
            <div class='d-flex flex-row'>
                <label for="active">Active:</label>
                <div class="ml-2 text-primary" name="active">{{item.active}}</div>
            </div>
            <div class='d-flex flex-row'>
                <label for="sites">Sites:</label>
                <div class="ml-2 text-primary" name="sites">{{item.sites.all}}</div>
            </div>
            <div class='d-flex flex-row'>
                <label for="display_type">Display Type:</label>
                <div class="ml-2 text-primary" name="display_type">{{item.get_display_type_display}}</div>
            </div>
            <div class='d-flex flex-row'>
                <label for="message">Message:</label>
                <div class="ml-2 text-primary" name="message">
                    {% for key, value in item.message.items %}
                        <div class="text-dark">{{key}}:<span class="ml-2 text-primary">{{value}}</span></div>
                    {% endfor %}
                </div>
            </div>
            <div class='d-flex flex-row'>
                <label for="deliver_once">Deliver Once:</label>
                <div class="ml-2 text-primary" name="deliver_once">{{item.deliver_once}}</div>
            </div>
            <div class='d-flex flex-row'>
                <label for="start_date">Start Date:</label>
                <div class="ml-2 text-primary" name="start_date">{{item.start_date}}</div>
            </div>
            <div class='d-flex flex-row'>
                <label for="end_date">End Date:</label>
                <div class="ml-2 text-primary" name="end_date">{{item.end_date}}</div>
            </div>
            <div class='d-flex flex-row'>
                <label for="rules">Rules:</label>
                <div class="ml-2 text-primary" name="rules">{{item.rules}}</div>
            </div>
            <div class='d-flex flex-row'>
                <label for="meta">Meta:</label>
                <div class="ml-2 text-primary" name="meta">{{item.meta}}</div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}